<!DOCTYPE html>
<html lang="fr" data-theme="forest">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

    <title>Gestion employe</title>
</head>
<body class="min-h-screen bg-base-300">
    <main class="mx-auto mt-10 w-full max-w-3xl px-4 pb-10 md:mt-20">
        <section class="rounded-xl bg-base-200 p-6 shadow-lg">
            {% block content %}
            {% endblock %}
        </section>
    </main>
</body>
</html>
